h1{
    border: 10px blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(11, 2, 192);
}
un{
    background-color: rgba(23, 40, 227, 0.728);
    font-style: inherit;
    border: 10px black;
    text-decoration: blueviolet;

}

table{
    column-gap: 20%;
    color: rgb(129, 16, 236);
    column-rule: 100px;
    text-align: center;

}
thead{
    color: brown;
    font-style: oblique;
    column-gap: 33%;
    text-decoration: underline;

}
tbody{
    color: rgba(168, 9, 242, 0.984);
    font-weight: 600;
}
div{
    image-orientation: flip;
    font-weight: bold;
    
}
hr{
    text-size-adjust:30px;
    font-weight: 900;
    line-height: 30px;
}
table ,tr, th, td{
    border: 2px solid black;
    padding-inline-end: 10px;
    border-spacing: 5px;

    
}
th{
    background-color: bisque;
}
td{
    background:rgba(43, 240, 43, 0.925)
}
tfoot{
    background-color:rgba(160, 81, 45, 0.623);
    text-transform: capitalize ;
}
body{
    background-color: rgba(235, 131, 57, 0.683);
}
hr{
    line-height: 10px;
    color: black;
}
